%h1=book.title

%table
  %tr
    %th index
    %th
    %th

  - chapters.each do |chapter|
    %tr
      %td= link_to chapter.title, book_chapter_sentences_path(book, chapter)
      %td= link_to 'Edit', edit_book_chapter_path(book,chapter)
      %td= link_to 'Destroy', [book, chapter]

%br

= link_to 'New Chapter', new_book_chapter_path
